<script>
  var chart1;
  $(document).ready(function() {
    chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'rawchart',
        type: 'line'
      },
      title: { text: 'Sensor Data' },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { day: '%e %b' }
        },
      yAxis: {
        title: { text: 'Value' }
      },
      series: [{
        name: 'h_water (m)',
        data: [
          <% raw_data.each do |row| %>
            <% data = row["h_water (m)"].to_f == nodata ? "null" : row["h_water (m)"] %>
            [<%= row.capture_date.strftime("%Q") %>,
            <%= data %>],
          <% end %>
        ]}, {
        name: 'water (m)',
        data: [
          <% proc_data.each do |row| %>
            <% data = row["water"].to_f == nodata ? "null" : row["water"] %>
            [<%= row.capture_date.strftime("%Q") %>,
            <%= data %>],
          <% end %>
        ]} 
      ]
    })
  });
</script>

<div id="rawchart" style="width: 1000px; height: 400px"></div>