.row-fluid
  .amaru-footer
    .amaru-footer-email
      =link_to "Web Master Email", "mailto:jason@gina.alaska.edu", :class => "btn btn-primary"
    =link_to "http://www.gina.alaska.edu" do
      =image_tag "whiteBG_GINApowered.png"