.row-fluid.header-sensor
  .span12
    .page-header
      .amaru-image
        %img{:src => image_path("amaru.png")}/
      %h2
        \&nbsp;GINA Amaru
        %small{:style => "color: #ffffff;"} Sensor Data System