.navbar
  .navbar-inner
    .container
      %ul.nav
        %li{:class => (current_page?(dashboard_path) ? "active" : "")}
          = link_to "Dashboard", dashboard_path
        %li{:class => (current_page?(groups_path) ? "active" : "")}
          = link_to "Groups", groups_path
        %li{:class => (current_page?(platforms_path) ? "active" : "")}
          = link_to "Platforms", platforms_path
        %li{:class => (current_page?(tools_path) ? "active" : "")}
          = link_to "Grouping Tools", tools_path
