%table
  %tr
    %td
      = link_to '<i class="icon-arrow-up icon-white"></i>'.html_safe, moveup_platform_event_path(@platform, @event, :command_id => command_id), class: "btn btn-primary event-button-adjust up"
    %td
      = link_to '<i class="icon-arrow-down icon-white"></i>'.html_safe, movedown_platform_event_path(@platform, @event, :command_id => command_id), class: "btn btn-primary event-button-adjust down"
    %td
      = link_to 'Delete', remove_platform_event_path(@platform, @event, :command_id => command_id), confirm: 'Are you sure?', class: "btn btn-danger delete event-button-adjust"