<div class="controls">
  <%= button_to 'Remove All Failed Jobs', resques_path, method: :delete, class: "btn btn-primary" %> 
</div>
<h3>Failed Processing Events</h3>
<div class="row-fluid">
  <div class="span12">
  	<table>
  		<tr>
  			<th width="300">Error Message</th>
  			<th width="180"></th>
  			<th width="180"></th>
  		</tr>
	  	<% @failures.each_with_index do |f, index| %>
	  		<%# next unless authorized_for_job?(f, 'Andy Mahoney') %>
	  	  <tr>
	  	  	<td>
	    	    <%= f["error"] %>
	  	    </td>
	  	    <td>
            <%= button_to 'Requeue', retry_resque_path(index), class: "btn btn-primary" %>
          </td>
	  	    <td>
            <%= button_to 'Remove', resque_path(index), method: :delete, class: "btn btn-primary" %>
          </td>
	    	</tr>
	  	<% end %>
	  </table>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
  	Alerts here
  </div>
</div>
