<tr>
	<td><%= sensor.source_field %></td>
	<td><%= sensor.label %></td>
	<td><%= sensor.sensor_metadata %></td>
	<td><%= link_to 'Edit', edit_group_sensor_path(@group, sensor), class: "btn btn-primary" %></td>
</tr>
