<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @sensors_sensor.label %>
</p>


<%= link_to 'Edit', edit_sensors_sensor_path(@sensors_sensor) %> |
<%= link_to 'Back', sensors_sensors_path %>
