.row-fluid
  %h4 Tools
  %br/
  %ul#platformTab.nav.nav-pills.nav-background
    %li.active
      %a{"data-toggle" => "pill", :href => "#sensors"} Group By Sensors
  .tab-content
    #sensors.tab-pane.active
      %h4 Group By Sensors
      =form_tag(:controller => "tools", :action => "by_sensor", :method => "get") do
        %table.well.table
          %tr
            %td{width: 300}
              =label_tag(:sensors, "Platform Sensors to Group:")
              =select_tag(:sensors, options_for_select(@all_sensors), {multiple: true, size: 10, edit: true})
            %td{width: 100}
              <i class="icon-arrow-right"></i>
            %td
              =label_tag(:group, "Group Name:")
              =select_tag(:group, options_for_select(@all_groups), {class: "makeEditable"})
          %tr
            %td
            %td
            %td
              =submit_tag("Group Sensors", {class: "btn btn-primary"})
:javascript
  $(function(){
    $('.makeEditable').editableSelect();
  });
