%h3 Grouping Tools
%br/
%ul#platformTab.nav.nav-pills.nav-background
  %li.active
    %a{"data-toggle" => "pill", :href => "#sensors"} Group By Sensors
.tab-content
  #sensors.tab-pane.active
    %h3 Group By Sensors
