<p id="notice"><%= notice %></p>

<p>
  <b>Capture date:</b>
  <%= @processed_datum.capture_date %>
</p>


<%= link_to 'Edit', edit_processed_datum_path(@processed_datum) %> |
<%= link_to 'Back', processed_data_path %>
