
.sensor-controls
  = link_to 'New Organization', new_organization_path, class: "btn btn-primary"
%h3 Organization List
%br/
%table.table.table-striped.table-condensed
  %tr
    %th{:width => "200"} Organization Name
    %th{:width => "200"} Description
    %th{:width => "200"} Access Token
    %th{:width => "400"} Controls
    = render @organizations
