:javascript
  var chart1;
  $(document).ready(function() {
    chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'rawchart',
        type: 'line',
        zoomType: 'x'
      },
      title: { text: 'Sensor Data for "#{raw_sensor}"' },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { day: '%b %e, %Y' },
        maxZoom: 24 * 3600000
        },
      yAxis: {
        title: { text: 'Value' }
      },
      series: [{
        name: '#{raw_sensor}',
        turboThreshold: 1000, 
        data: #{ raw_data.collect do |row|
          data = row[raw_sensor] == nodata ? nil : row[raw_sensor].to_f
            [ row.capture_date.strftime("%s").to_i*1000, data ]
          end.to_json } 
        } 
      ]
    })
  });

