.sensor-controls
  = link_to 'New Platform', new_platform_path, class: "btn btn-primary"
%h3 Platform List
%br/
%table.table.table-striped.table-condensed
  %tr
    %th{:width => "200"} Name
    %th{:width => "200"} Geo Location
    %th{:width => "200"} Agency
    %th{:width => "400"} Controls
    = render @platforms
