%div{:id => "alert_event_#{event.id}"}
  .row-fluid.event-update{"data-url" => change_group_alert_path(group, alert, :event_id=>f.object.id), :id => "event_list_#{f.object.id}"}
    = render event.command, :event => event, :sensors => sensors, :f => f
